.brand {
    margin: 1.4rem 0;

    .site-title {
        margin: 0;
        font-size: 1.8rem;
    }

    .subtitle {
        margin-bottom: 0;
        font-size: 1.6rem;
        font-style: italic;
    }

    nav.menu > ul {
        margin-bottom: 0;
    }
}

@media (max-width: 760px) {
    .brand {
        margin-top: 0;

        .site-title {
            margin: 0;
        }
    }
}
