/* Content meta-data such as author, publication date, etc. */
ul.content-meta {
    display: block;
    /*color: rgba(155, 155, 155, 1);*/
    // color: rgba(100, 105, 110, 1);
    font-size: 1.1rem;
    margin-top: 1em;
    line-height: 1em;
    list-style: none;
    padding: 0;

    svg {
        vertical-align: bottom;
    }

    li {
        display: inline-block;
        padding: 0;
        margin: 0;

        &::after {
            content: "·";
            padding: 0 0.5em;
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }
}
.content-meta li {
    display: inline-block;
    padding-right: 1em;
}

.content-meta .author {
    /*color: rgb(90, 20, 55)*/
    // color: rgba(65, 70, 75, 1);
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
