/* We utilize the html5 summary tags in order to create a post archive */
/* with built-in folding. */
details summary {
    vertical-align: top;
    padding: .3em .5em;
    outline: none;
    /*color: rgba(65, 70, 75, 1);*/
}

details summary.year {
    font-size: 1.5rem;
}

// details[open] summary {
// }


/* Table of Contents */
.toc summary {
    font-size: 1.5rem;
    margin-bottom: -1.5rem;
    padding-left: 0.75em;
    border-left: 1px solid #111;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.toc nav {
    padding-top: 0.5em;
    border-left: 1px solid #111;
}

.toc ul {
  display: block;
  width: 87.5%;
}

.toc > ul > li {
}

.toc li {
    line-height: 2rem;
}
