<section>
<h1 class="content-title">
{{- .Title -}}{{- if .Draft -}}&nbsp;:: Draft{{- end -}}
</h1>
{{- if .Params.subtitle -}}
<p class=subtitle>{{ .Params.subtitle }}</p>
{{- end -}}

{{- if .IsPage -}}
<ul class="content-meta">
  {{- if not .Params.hidedate -}}
    <li class="date">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="18" height="18">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
      </svg>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </li>

    {{- if .Lastmod }}
      <li class="date">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="18" height="18">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
        </svg>
        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
      </li>
    {{- end -}}
  {{- end -}}

  {{- if not .Params.hidereadtime -}}
  <li>{{ .ReadingTime }} min</li>
  {{- end -}}

  {{- if and .Params.author (not .Site.Params.hideAuthor) -}}
  <li class="author">{{ .Params.author }}</li>
  {{- end -}}

  {{- if not .Site.Params.hideTags }}
    {{- range .Params.tags -}}
    <li><a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
    {{- end }}
  {{- end }}
</span>
{{- end -}}
</section>
