<!-- <script src="{{ "/js/math-code.js" | relURL }}"></script> -->
{{ $script := resources.Get "latex-fix.js" | resources.Minify }}
{{ with $script.Content }}
  <script>{{ . | safeJS }}</script>
{{ end }}

{{- $version := .Site.Params.KaTeXVersion | default "0.16.27" -}}
{{- $cdn := .Site.Params.KaTeXCDN | default "//cdn.jsdelivr.net/npm" -}}
{{- $katex_src_base := printf "%s/katex@%s" $cdn $version -}}

<link rel="stylesheet" href="{{ $katex_src_base }}/dist/katex.min.css" crossorigin="anonymous">
<script defer src="{{ $katex_src_base }}/dist/katex.min.js" crossorigin="anonymous"></script>
<script defer src="{{ $katex_src_base }}/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
<!-- do not add onload attributes, breaks settings below -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            // delimiters: [
            //     {left: "$$\n", right: "\n$$", display: true},
            //     {left: "$$", right: "$$", display: false},
            //     {left: "\\[", right: "\\]", display: true},
            //     {left: "\\(", right: "\\)", display: false}
            // ],
            trust: (context) => ['\\htmlId', '\\href'].includes(context.command),
            macros: {
              "\\eqref": "\\href{###1}{(\\text{#1})}",
              "\\ref": "\\href{###1}{\\text{#1}}",
              "\\label": "\\htmlId{#1}{}"
            }
        });
    });
</script>
