{{ define "main" }}
<article id="main" class="home-page">
{{ partial "brand.html" . }}
{{ with .Content }}
  <section>
  {{ . }}
  </section>
{{ end }}
{{- $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $notDrafts := where .Site.RegularPages "Draft" false }}
{{- $withDate := where .Site.RegularPages "Params.date" "!=" nil }}
{{- $pages := $posts | intersect $notDrafts | intersect $withDate }}
{{- if eq .Site.Params.showPostsOnHome "list" -}}
  <section class="list-section">
    <ul>
    {{- range $pages }}
      <li>
        <span class="list-date">{{ .Date.Format "Jan 2, 2006" }}</span>
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
      </li>
    {{- end }}
    </ul>
  </section>
{{- else if eq .Site.Params.showPostsOnHome "preview" -}}
  <section class="page-list">
  {{ range (.Paginate $pages).Pages }}
    <h2 class="content-title">
    {{ if .IsNode }}
    <a href="{{ .Permalink }}">{{ .Title}}</a>
    {{ else }}
    <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}&nbsp;:: Draft{{end}}</a>
    {{ end }}
    </h2>

    {{ if .Description }}
    <p>{{ .Description }}</p>
    {{ else }}
    {{ if .Site.Params.showSummary }}
    <p>{{ truncate 140 .Summary }}</p>
    {{ end }}
    {{ end }}
  {{ end }}
  </section>

  {{ if and (.Paginator) (gt .Paginator.TotalPages 1) }}
    <hr />
    <span class="previous-page">
    {{ if .Paginator.HasPrev }}
      <a class="link-reverse" href="{{.Paginator.Prev.URL}}">«</a>
    {{ end }}
    </span>
    <span class="pagination-indicator">
    {{.Paginator.PageNumber}} / {{.Paginator.TotalPages}}
    </span>
    <span class="next-page">
    {{ if .Paginator.HasNext }}
      <a class="link-reverse" href="{{.Paginator.Next.URL}}">»</a>
    {{ end }}
    </span>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
</article>
{{ end }}
